# Ignore all tar and compressed files
*.tar
*.tar.gz
*.zip
*.7z
*.i64
*.apk
app-release.apk

# Ignore specific files and folders
2025/nahamcon/pwn/theJumps/
2025/tamuctf/rev/05backdoored.tar
2025/airtech_finals/
2025/AirRange/Wave1
2025/AirRange/Wave2/mobile/app-release/
2025/AirRange/Wave2/mobile/app-release.apk
2025/AirRange/Wave2/rev/Donnow/
2025/07CTF/StackOfFish/linux-rootfs.img

# Optional: Ignore Python venvs if ever created inside this folder
venv/
env/
.venv/

# Optional: Ignore system files and junk
.DS_Store
Thumbs.db
desktop.ini


# Ignore logs and temp files
*.log
*.tmp
