# Ignore all tar and compressed files
*.tar
*.tar.gz
*.zip
*.7z
*.i64
*.apk
app-release.apk

# Ignore specific files and folders
nahamcon/pwn/theJumps/
tamuctf/rev/05backdoored.tar
airtech_finals/
AirRange/Wave1
AirRange/Wave2/mobile/app-release/
AirRange/Wave2/mobile/app-release.apk
AirRange/Wave2/rev/Donnow/

# Optional: Ignore Python venvs if ever created inside this folder
venv/
env/
.venv/

# Optional: Ignore system files and junk
.DS_Store
Thumbs.db
desktop.ini


# Ignore logs and temp files
*.log
*.tmp
